{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-5">
    <div class="chart-card">
      <div class="chart-card__header"><h5 class="chart-card__title"><i data-lucide="tag"></i> {{ title }}</h5></div>
      <div class="chart-card__body">
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-flex gap-2 justify-content-end mt-3">
            <a href="{% url 'core:investment-category-list' %}" class="btn btn-outline-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
