{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'core:expense-structure' %}">Categorias</a></li>
<li class="breadcrumb-item active">{{ title }}</li>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-12 col-md-7 col-lg-5">
    <div class="chart-card">
      <div class="chart-card__header">
        <h5 class="chart-card__title"><i data-lucide="tag"></i> {{ title }}</h5>
      </div>
      <div class="chart-card__body">
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <div class="d-flex gap-2 justify-content-end mt-3">
            <a href="{% url 'core:expense-structure' %}" class="btn btn-outline-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">
              <i data-lucide="save" style="width:14px;height:14px;"></i> {{ action }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
